.venv/

# Python cache files and folders
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environment files
.env
.env.*

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Generated test and coverage files
.coverage
.coverage.*
htmlcov/
.xmlcov/
pytest_cache/

# Local data files, but keep folder structure possible later
*.csv
*.parquet
/data/*
!/data/
!/data/**/
